.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 111px;
}

.table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    border-collapse: separate; 
    border-spacing: 1px; 
    margin-bottom: 504px;
}

.table2{
    margin-top: -500px;
}

.head th {
    background-color: #004006b3;
    color: white;
    text-align: center;
    padding: 10px;
}

.subtitle td {
    background-color: #e6e6e6de;
    color: #004006;
    text-align: center;
    padding: 8px;
}

.content td {
    background-color: rgba(245, 245, 245, 0.288);
    color: white;
    text-align: center;
    padding: 8px;
}

.subtitle td:first-child,
.content td:first-child {
    text-align: left;
}

.iconM{
    color: rgb(0, 0, 130);
}
.iconD{
    color: rgb(130, 0, 15);
}

