/* stat.css */

/* Style pour le conteneur du graphique */
.chart-container {
    
    background-color: rgba(255, 255, 255, 0.807);
    width: 800px; /* Changer la largeur selon vos besoins */
    height: 400px; /* Changer la hauteur selon vos besoins */
    margin: 20px auto; /* Centrer le graphique horizontalement avec un espacement en haut */

  }
  
  /* Style pour le graphique lui-même */
  .chart {
    border: 1px solid #ccc; /* Ajouter une bordure pour le graphique */
    border-radius: 5px; /* Ajouter des coins arrondis */
    margin-top: -348px;
  }
  